  @font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Medium.ttf");
    font-weight: 500;
    font-style: normal;
  }

    @font-face {
      font-family: Gilroy;
      src: url("../fonts/Gilroy-SemiBold.ttf");
      font-weight: 600;
      font-style: normal;
  }

    @font-face {
      font-family: Gilroy;
      src: url("../fonts/Gilroy-ExtraBold.ttf");
      font-weight: 800;
      font-style: normal;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
}

  body {
    font-size: 1.6rem;
    font-family: 'Gilroy', sans-serif;
  }

  ul[class],
  ol[class] {
    padding: 0;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
/*    line-height: 1.5;*/
  }

  ul[class],
  ol[class] {
    list-style: none;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    display: block;
  }

  article > * + * {
    margin-top: 1em;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  button:active, button:focus {
    outline: none;
    cursor: pointer;
}

  section {
    margin-bottom: 8rem;
  }

  /*HEADER*/

  .header {
    height: 11.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .hero {
    background-color: #000;
    margin-top: 14rem;
  }

  .hero-background {
    background-color: #000;
    bottom: 0;
    height: 100vh;
    left: 0;
    max-height: 72rem;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    width: 122.4rem;
  }

  .some-link {
    padding: 1.3rem 0;
  }

  .header-menu{
    display: flex;
    justify-content: space-between;
  }

  .header-menu-left {
    align-items: center;
    margin: 1.3rem 0;
  }

  .menu {
    display: flex;
  }

  .menu-text {
    opacity: 0.7
  }

  .menu-link {
    position: relative;
    transition: all .5s e
  }

  .menu-link-language {
     margin-right: 3.2rem;
  }

  .menu-link:nth-child(-n+2) {
    margin-right: 3.2rem;
  }

  .menu-link:before {
    background-color: #E61830;
    content: '';
    height: .2rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 3rem;
    transition: all .2s;
    width: 0;
  }

  .menu-link:nth-child(-n+3):hover:before{
    width: 100%;
  }

  .header-menu-right {
    display: flex;
  }

  .language-selector {
    align-items: center;
    display: flex;
  }

  .language-img {
    clip-path: circle(50%);
    height: 1.6rem;
    margin-right: .6rem;
    width: 1.6rem;
  }

  .profile-img {
    margin-right: 1.3rem;
  }

  .profile-selector {
    display: flex;
  }

  .header-nav {
    border-top: 1px solid rgba(255,255,255,.3);
    display: flex;
    justify-content: space-between;
    margin-bottom: 8rem;
  }

  .header-nav-left {
    align-items: center;
    display: flex;
  }

  .header-nav-right {
    display: flex;
    margin: 2rem 0;
  }

  .nav {
    display: flex;
    justify-content: center;
  }

  .nav-link {
    margin-right: 2.4rem;
  }

  .nav-link:last-child {
    margin-right: 3.4rem;
  }

  .nav-button {
    font-weight: 800;
    padding: 1rem;
    text-transform: uppercase;
    border-radius: .6rem;
    border-color: #E61830;
    color: #fff;
    box-shadow: 0 0 40px 40px #E61830 inset, 0 0 0 0 #E61830;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
  .nav-button:hover {
    box-shadow: 0 0 5px 0 #E61830 inset, 0 0 20px 4px #E61830;
}

  .header-title {
    color: #fff;
    position: absolute;
    font-weight: 800;
    font-size: 6.4rem;
  }

  .hero-content {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  .hero-content-left{
    z-index: 1;
    width: 40rem;
  }

  .hero-content-right {
    display: flex;
    z-index: 2;
  }

  .hero-small-text {
    font-weight: 500;
    color: rgba(255,255,255,.3);
    white-space: nowrap; 
    margin-bottom: 1.6rem;
  }

  .hero-large-text {
    font-weight: 800;;
    font-size: 6.4rem;
    color: rgb(255,255,255);
    line-height: 60px;
    letter-spacing: -0.01em;
    margin-bottom: 2.4rem;
  }

  .hero-large-text span {
    white-space: nowrap;
  }

  .hero-medium-text {
    font-weight: 500;
    color: rgba(255,255,255,.7);
    margin-bottom: 3.2rem;
  }

  .download-icons {
    display: inline-flex;
    margin-bottom: 15rem;
  }

  .icon {
    border-radius: .4rem;
    display: flex;
    padding: 1.2rem 1.3rem;
    width: 16.2rem;
  }

  .icon:first-child {
    background-color: #fff;
    margin-right: 1.2rem;
  }

  .icon:last-child {
    background-color: #E61830;
  }

  .icon-picture {
    margin-right: .7rem;
}

  .phone-front {
    position: relative;
    left: .5rem;
  }

  .phone-back {
    position: relative;
    top: 4rem;
  }

  .phone-front-logo {
    position: absolute;
    top: 10.9rem;
    left: 16rem;
    background-color: #fff;
    padding: 1.9rem .64rem 1.9rem 1rem;
    border-radius: 1rem;
  }

  .phone-front-text {
    bottom: 21rem;
    color: #fff;
    display: flex;
    font-weight: 800;
    font-size: 1.8rem;
    left: 12rem;
    position: absolute;
  }

  .register {
    margin-left: 2rem;
    opacity: .5;
  }

  .text-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 9rem;
    left: 8rem;
    color: #fff;
    width: 60%;
    line-height: 3em;
  }

   .text-area p {
    padding-left: 2rem;
   }

  .text-area p:first-child {
    margin-bottom: 1.6rem;
  }

  .color {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, .2);
    border-radius: .6rem;
    opacity: .5;
  }

  .phone-enter-button {
    font-weight: 800;
    font-size: 1.4rem;
    position: absolute;
    bottom: 3rem;
    left: 14.5rem;
    color: #E61830;
    background-color: #fff; 
    text-transform: uppercase;
    border-radius: .6rem;
    padding: 1rem 2rem;
  }

  /*CARDS*/

  .section-text {
    font-size: 1.8rem;
    opacity: .5;
    color: #000;
    text-align: center;
    margin-bottom: 2.4rem;
  }


  .card-section {
    display: flex;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .card-container:first-child {
    margin-right: 2.4rem;
  }

  .card-container:last-child {
    margin-top: 8rem;
  }

  .card {
    border-radius: .8rem;
    background-color: #F8F8F8;
    margin-bottom: 2.4rem;
  }

  .card img {
    transition: all .3s ease;
  }

  .card:hover {
    background-color: #E0E0E0;
  }

  .card:hover img:first-child {
    transform: translateY(-2rem);
  }


  .card img {
    margin-bottom: 4rem;
  }

  .card-content {
    margin: 6.4rem 6.4rem 4rem 6.4rem;
  }

  .card-title {
    font-weight: 800;
    font-size: 3.2rem;
    color: #000;
    margin-bottom: 1.6rem;
    line-height: 3.6rem
  }

  .card-description {
    color: #000;
    margin-bottom: 4rem;
  }

  .big-logo-section {
    position: relative;
  }

  .big-logo-section img:first-child {
    object-fit: cover;
    max-height: 72rem;
    width: 100%;
    height: 100vh;
  }

  .big-logo-section img:last-child {
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    max-height: 40rem;
  }


  /*OFFER*/

  .offer {
    margin-bottom: 4.8rem;
  }

  .offer-heading {
    margin-bottom: 2.4rem;
  }

  .offer-heading img{
    margin: 0 auto 2.4rem;
  }

  .offer-heading-text {
    font-weight: 800;
    font-size: 3.2rem;
    text-align: center;
  }

  .offer-platforms {
    display: flex;
    justify-content: center;
  }

  .offer-platforms-selection {
    display: flex;
    border-bottom: 1px solid #dee6eb;
  }

  .offer-os {
    padding-bottom: .9rem;
    position: relative;
  }

  .offer-os img {
    margin-right: .8rem;
  }

  .offer-os p {
    color: #000;
  }

  .offer-os:first-child {
    margin-right: 4rem;
  }

  .offer-os-link {
    display: flex;
    align-items: center;
  }

  .offer-os:before {
    background-color: #E61830;
    content: '';
    height: 0.2rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    transition: all .2s;
    width: 0;
    bottom: 0;
}

    .offer-os:hover:before {
      width: 100%;
    }


/*TABLE*/

  .table-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid #000;
  }

  .table-upside-left {
    align-self: flex-end;
    color: rgba(134,139,143,1);
    width: 25%;
  }

  .table-upside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
  }

  .table-upside-marked {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
  }

  .table-upside-marked:before {
    position: absolute;
    content: '';
    background-color: rgba(190,190,190, .1);
    width: 100%;
    height: 138%;
    top: -2.4rem;
    left: 0;
    z-index: 1;
  }

  .table-upside-title {
    margin-bottom: .8rem;
  }

  .table-upside-price {
    display: flex;
    margin-bottom: .8rem;
  }

  .table-currency {
    font-size: 2rem;
    padding-top: .24em;
    line-height: 2rem;
  }

  .table-sum {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  .table-upside-button {
    line-height: 1.2rem;
    font-weight: 800;
    padding: 1rem;
    border-radius: .6rem;
    border: 1px solid #E61830;
    color: #E61830;
    text-transform: uppercase;
    transition: all .3s ease;
    z-index: 2;
    position: relative;
  }

/*  .table-upside-button-active {
    line-height: 1.2rem;
    font-weight: 800;
    padding: 1rem;
    border-radius: .6rem;
    border: 1px solid #E61830;
    color: #fff;
    text-transform: uppercase;
    background-color: #E61830;
  }
*/
  .table-upside-button:hover {
    background-color: #E61830;
    color: #fff;
  }

  .table-body {
    display: flex;
  }

  .table-body-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 100%;
    border-bottom: 1px solid #D3DEE7;
  }

  .table-body-cell:last-child {
    border: none;
  }

  .table-body-cell p {
    line-height: 2.4rem;
  }

  .table-body-descriptions {
    width: 25%;
  }

  .table-body-stickers{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
  }

  .table-body-stickers-marked{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    align-items: center;
  }

    .table-body-stickers-marked:before {
    position: absolute;
    content: '';
    background-color: rgba(190,190,190, .1);
    width: 100%;
    height: 100%;
    }


    /*MAP*/

    .map-section {
      position: relative;
    }

  .map-image-section {
    position: relative;
  }

  .map-image-section:before {
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
  }

  .map-image {
    object-fit: cover;
    width: 100%;
    height: 60rem;
  }

  .map-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 4.8rem 0;
    display: flex;
    justify-content: space-between;
  }

  .map-content-small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    height: 100%;
    width: 33%;
  }

  .map-content-large {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    width: 33%;
  }

  .map-main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .track-name-eng {
    font-size: 6.4rem;
    font-weight: 800;
    padding-bottom: 2.4rem;
  }

  .track-name-rus {
    font-size: 2.4rem;
  }

  .map-switchers {
    display: flex;
  }

  .switcher {
    width: .8rem;
    height: .8rem;
    background-color: #fff;
    border-radius: 50%;
    transition: .3s all ease;
    position: relative;
    z-index: 2;
  }

  .switcher:hover {
    background-color: #E61830;
  }

  .switcher:first-child {
    width: .8rem;
    height: .8rem;
    background-color: #E61830;
    border-radius: 50%;
  }

  .switcher:nth-child(-n+2) {
    margin-right: 2.4rem;
  }

  .map-button-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33%;
  }

  .map-button {
    background-color: #fff;
    border-radius: 50%;
    padding: 2.0rem 2.62rem;
    position: relative;
    z-index: 2;
  }

  .map-button svg {
    position: relative;
    z-index: 3;
  }

  .map-button:first-child {
    margin-right: 1.6rem;
  }

  .map-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .1s ease;
    border-radius: 50%;
  }

  .map-button:hover:before {
    background-color: #E61830;
    transform: scale(1.3);
  }

  .map-button:hover svg path {
  fill: #fff;
}

  .map-route {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 77rem;
  }














@media (max-width: 1200px) {

}

@media (max-width: 1000px) {

}

@media (max-width: 768px) {

}

@media (max-width: 500px) {

}

